@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{ display: flex; align-items: center; background: #eaeaea; min-height: 100vh;}
.filter{ position: relative; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; opacity: .7; }


/* General CSS Starts*/
.spinner{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 999; }
.upload-btn{ border: 1px solid #29ab87; background: #29ab87; color: #fafafa; font-size: 13px; padding: 3px; margin-left: 5px; border-radius: 3px; cursor: pointer; text-decoration: none; }
.upload-btn:hover{ color: #eaeaea;}
.refresh-btn{ border: 1px solid #4c9be0; background: #fafafa; color: #4c9be0; font-size: 15px; padding: 4px; margin-left: 10px; border-radius: 3px; cursor: pointer; text-decoration: none;}
.refresh-btn:hover{ background: #4c9be0; color: #fafafa;}
/* General CSS Ends*/



/* Search Box Starts*/
.search_box{ width: 25%; background:#fafafa; border-radius: 5px;  position: absolute; top: 9rem; right: 0.5rem;}
.search_box input{ border: 2px solid #eaeaea; transition: 0.5s; border-radius: 5px; width: 100%; outline: none;  color: #888888; font-size: 14px; padding: 10px; position: relative;}
.search_box .icon{ position: absolute; top: 13px; right: 16px; color: #344a72; }
.search_box input:focus{ border: 2px solid #344a72; }
::placeholder{ color: #888888; }
@media(max-width: 1024px){
    .search_box{ width: 100%; top: 14rem; right: 0;}
}
/* Search Box Ends*/



/* Upload File Starts*/
.upload_file{ position: absolute; top: 10rem; left: 1rem;}
.upload_file p{ color: #b95754; font-size: 12px; padding: 5px; user-select: none;}
.upload_box{ font-size: 14px; color: #888888; background: #fafafa; border-radius: 20px; outline: none; cursor: pointer;}
::-webkit-file-upload-button{ color: #29ab87; background: #fafafa; padding: 5px; border: 1px solid #29ab87; border-radius: 20px; outline: none; cursor: pointer;}
::-webkit-file-upload-button:hover{ color: #fafafa; background: #29ab87;}
@media(max-width: 1024px){
    .upload_file{ display: none;}
}
/* Upload File Ends*/



/* prod_table Starts*/
.wrapper{ position: absolute; top: 19rem; width: 100%; background: #fafafa; box-shadow: 0 5px 12px rgba(32, 32, 32, .3); height: 450px; overflow: hidden; overflow-y: auto;}
.prod_table{ width: 100%; border-collapse: separate; border-spacing: 0; overflow: auto; white-space: nowrap; }
.prod_table thead { background: #344a72; color: #fafafa; text-align: left; position: sticky; top: 0; }
.prod_table thead tr th{ font-size: 0.9rem; padding: 0.5rem; vertical-align: top; border-right: 1px solid #eaeaea;  font-weight: 600; user-select: none;}
.prod_table tbody tr td{ font-size: 0.9rem; color: #4e4e4e; font-weight: normal; text-align: left; border: 1px solid #eaeaea; user-select: none;}
.prod_table thead tr th:last-child{ border: none;}
.prod_table thead th:nth-child(3), .prod_table thead th:nth-child(5), .prod_table thead th:nth-child(10){ cursor: pointer;}
.prod_table thead th:nth-child(1){ width: 11rem;}
.prod_table thead th:nth-child(3){ width: 32rem;}
.prod_table thead th:nth-child(4), .prod_table thead th:nth-child(7), .prod_table thead th:nth-child(8), .prod_table thead th:nth-child(9) { width: 4rem;}
.prod_table thead th:nth-child(2){ width: 5rem;}
.prod_table thead th:nth-child(5){ width: 10rem;}
.prod_table thead th:nth-child(6){ width: 4rem;}
.prod_table thead th:nth-child(3) .icon, .prod_table thead th:nth-child(4) .icon, .prod_table thead th:nth-child(8) .icon{ margin-left: 4px;}
.prod_table tr:hover td{ background-color:#ADD8E6;}
.prod_table tr:hover td:nth-child(1){ color: #b95754;}
.prod_table tr:hover td:nth-child(2){ color: #006b21;}
.prod_table tr:nth-child(even){ background: #eaeaea; transition: all 0.3s ease-in; color: #fafafa!important;}
.prod_table tbody td:nth-child(1){ padding-left: 0.5rem; color: #6196CB; }
.prod_table tbody td:nth-child(2){ padding-left: 0.5rem; color: #64805d; font-size: .8rem;}
.prod_table tbody td:nth-child(3), .prod_table tbody td:nth-child(4){ padding-left: 0.5rem;}
.prod_table tbody td:nth-child(4), .prod_table tbody td:nth-child(7), .prod_table tbody td:nth-child(8), .prod_table tbody td:nth-child(9), .prod_table tbody td:nth-child(10), .prod_table tbody td:nth-child(11), .prod_table tbody td:nth-child(12), .prod_table th:nth-child(7), .prod_table th:nth-child(8), .prod_table th:nth-child(9), .prod_table th:nth-child(10), .prod_table th:nth-child(11), .prod_table th:nth-child(12){ text-align: center;}
.prod_table tbody td:nth-child(5), .prod_table tbody td:nth-child(6){ padding-left: 0.5rem; }
.prod_table tbody td:nth-child(7), .prod_table tbody td:nth-child(8), .prod_table tbody td:nth-child(9) {letter-spacing: 2px; font-weight:600; }
.prod_table tbody td:nth-child(8){ letter-spacing: .5px; font-weight:600; }
.prod_table tbody td:nth-child(10){ font-weight: 600;}
.prod_table tbody td:nth-child(3) input[type="text"]{ width: 30rem; font-size: 0.8rem; color: #4e4e4e; font-weight: normal; border: none; border-bottom: 2px solid #6196CB;}
.prod_table tbody td:nth-child(4) input[type="text"], .prod_table tbody td:nth-child(6) input[type="text"], .prod_table tbody td:nth-child(7) input[type="text"], .prod_table tbody td:nth-child(8) input[type="text"]{ width: 3rem; font-size: 0.8rem; color: #4e4e4e; font-weight: 600; letter-spacing: 2px; border: none; border-bottom: 2px solid #6196CB;}

.des-cell { max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.no-stock p, .available p, .low-stock p{ padding: 4px; }
.no-stock p{ background: #D89383; color: #ffffff; }
.available p{ background: #86e49d; color: #ffffff; }
.low-stock p{ background: #FFC000;; color: #ffffff; }

.edit-btn, .remove-btn, .view-btn, .update-btn{ border-radius: 3px; padding: 3px 1px; margin-left: 4px; cursor: pointer; text-decoration: none;}
.edit-btn{ border: 1px solid #29ab87; background: #29ab87; color: #fafafa; font-size: 13px;}
.edit-btn:hover{ color: #eaeaea;}
.remove-btn{ border: 1px solid #cb4a54; background: #cb4a54; color: #fafafa; font-size: 13px;}
.remove-btn:hover{ color: #eaeaea;}
.view-btn{ border: 1px solid #4c9be0; background: #4c9be0; color: #fafafa; font-size: 13px; }
.view-btn:hover{ color: #eaeaea;}
.update-btn{ border: 1px solid #29ab87; background: #29ab87; color: #fafafa; font-size: 13px; }
.update-btn:hover{ color: #eaeaea;}
.download-btn .icon{ cursor: pointer;}

@media print { 
    .no-print { display: none; }
  }

@media(max-width: 1024px){
    .prod_table thead{ display: none;}
    .prod_table tr, .prod_table td{ display: block; width: 100%;}
    .prod_table tr{ margin-bottom: 1rem; }
    .prod_table tbody tr td{ text-align: right; position: relative;}
    .prod_table td::before{ content: attr(data-label); position: absolute; left: 0; width: 50%; text-align: left; padding-left: 1.2rem;}
    .prod_table tbody td:nth-child(3) input[type="text"]{ width: 10rem;}
    .des-cell { max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
}
/* prod_table Ends*/
