@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{ display: flex;}

.filter{ position: relative; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; opacity: .7;}

.add-container{ position: absolute; top: 14.5rem; width: 100%;}
.add-container form{ position: relative; min-height: 50px;}
.add-container .form-field{ display: flex; align-items: center; justify-content: space-between; height: 5rem;}
.add-container .control-field{ display: flex; margin-bottom: 1.2rem;}

.form-field .input-field{ display: flex; margin: 1rem; flex-direction: column; width: calc(100% / 5 - 15px);}
.form-field .upload-field{ display: flex; margin: 1rem; flex-direction: column; }
.form-field .select-field{ display: flex; margin: 1rem; flex-direction: column; width: calc(100% / 5 - 15px); height: 4rem;}
/* .input-field label, .select-field label, .upload-field label{ font-size: 14px; font-weight: 500; letter-spacing: 1px; color: #4b6284; margin-left: 2px;} */
.input-field label, .select-field label, .upload-field label{ display: none; }
.form-field label{ user-select: none;}
.input-field input{ outline: none; background:#fafafa; font-size: 14px; font-weight: 500; color: #888888; height: 30px; margin: 8px 0; padding: 0 15px; border: 2px solid #eaeaea; transition: 0.5s; border-left: 2px solid #4b6284; }
.select-field select{ outline: none; font-size: 14px; font-weight: 500; color: #888888; height: 30px; margin: 8px 0; padding: 0 15px; border: 2px solid #eaeaea; transition: 0.5s; }
.upload-field input{ outline: none; background:#fafafa; font-weight: 500; color: #888888; border-radius: 20px; width: 175px; margin: 10px 0; cursor: pointer;}
.input-field input:focus, .select-field select:focus{ border: 2px solid #344a72; }
#sku, #price, #portions, #qin, #qout { width: 6rem;}
#select { width: 8rem;}


.clear-btn, .add-btn{ border-radius: 3px; text-decoration: none; font-size: 14px; margin: 0 5px 0 5px; padding: 5px; display: flex; cursor: pointer;}
.add-btn{ border: 1px solid #29ab87; background: #29ab87; color: #fafafa;  }
.add-btn svg{ padding-right: 2px; margin-top: 1px; }
.add-btn:hover{ color: #eaeaea;}
.clear-btn{ border: 1px solid #4c9be0; background: #fafafa; color: #4c9be0; }
.clear-btn:hover{ background: #4c9be0; color: #fafafa;}

/* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
    .add-container form{ display: none;}
  }
  